.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.FormComponent{
  font-size: 16px;
  font-weight: 700;
  background-color: white;
  width: 600px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 15px;
  margin: 30px 15px;
}

.InputRowGroup{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 35%;
  text-align: left;
  
}

.ButtonGroup{
  height: 30%;
  display: flex;
  align-items: center;
  
  
}
.ButtonGroup button{
  background-color: rgb(150, 20, 194);
  border: none;
  color: rgb(240, 240, 240);
  height: 25px;
  width: 80px;
}

.ItemGroup{
  background-color: white;
  border-radius: 10px;
  width: 600px;
  padding: 15px;
  margin: 0px 15px;
}

.LabelGroup{
  border: 1px solid #282c34;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  padding: 5px 10px;
  margin: 5px 0px;
}